
@font-face {
  font-family: 'nhg-text';
  src: url('fonts/Haas Grot Text-55 Roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'nhg-text';
  src: url('fonts/Haas Grot Text-56 Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'nhg-text';
  src: url('fonts/Haas Grot Text-75 Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'nhg-text';
  src: url('fonts/Haas Grot Text-76 Bold Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

// Headline
@font-face {
  font-family: 'nhg-display';
  src: url('fonts/Haas Grot Disp-65 Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'nhg-display';
  src: url('fonts/Haas Grot Disp-66 Medium Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
