.section {
  h1 {
    margin-bottom: 90px;
    color: #949494;
  }
}


.typeset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;

  h2 {
    margin: 2em 0 0.5em;
    grid-column: span 2;
  }

  h4 {
    margin: 1.4em 0;
    grid-column: 1 / span 1;
  }

  h4 + p {
    margin-top: 0;
  }

  p, ul, ol {
    font-size: 1.25rem;
    max-width: 720px;
    margin: 1.4em 0 0;
    grid-column: 1 / span 1;

    a {
      text-decoration: underline;
    }
  }

  code {
    background-color: #eee;
  }

  div {
    grid-column: 1 / span 1;
    margin-bottom: 1.4em;
  }

  img {
    display: block;
    width: 100%;
    border: 1px solid black;
  }

  img + em {
    font-size: 0.9375rem;
    font-style: normal;
    display: block;
    margin: 10px 0 1.4em;
  }

  img + img {
    margin-top: 1.4em;
  }

  p.image-large {
    max-width: none;

    img {
      width: 100%;
    }
  }

  p.no-border {
    img {
      border: 0;
    }
  }

  p.image-aside {
    max-width: none;
    grid-column: 2 / span 1;
    margin-bottom: 1.4em;

  }

}

.section + .site-nav {
  min-height: 90vh;
}
